.mondriana_table {
    border-collapse: collapse;
    background-color: #000;
}

.mondriana_table td {
    border: 8px solid #000;
}

.left_top {
    background-color: white;
    height: 40px;
}

.white_brick {
    background-color: white;
    height: 40px;
    width: 100px;
}

.left2_top {
    background-color: white;
    height: 30px;
    width: 150px;
}

.left_top2 {
    background-color: white;
    height: 100px;
    width: 40px;
}

.left_top3 {
    background-color: white;
    height: 160px;
    width: 30px;
}

.left_bottom {
    background-color: yellow;
    height: 85px;
    width: 30px;
}

.blue_one {
    background-color: blue;
}

.yellow_brick {
    background-color: yellow;
    height: 30px;
    width: 120px;
}

.white_stick{
    background-color: white;
    height: 300px;
    width: 15px;
}

.yellow_big {
    background-color: yellow;
    height: 100px;
    width: 120px;
}

.white_tower {
    background-color: white;
    height: 100px;
    width: 60px;
}

.red_square {
    background-color: red;
    width: 200px;
    height: 200px;
}

.black_brick {
    background-color: #000;
    height: 50px;
    width: 100px;
}

.black_thin {
    background-color: black;
    height: 25px;
}

.white_bottom {
    background-color: white;
    height: 10px;
}

.right_bottom {
    background-color: red;
    height: 85px;
}

.white_small {
    background-color: white;
    height: 30px;
}

.white_thing {
    background-color: white;
}

.bottom2_left {
    background-color: white;
    height: 45px;
}